<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <listener>
        <listener-class>
            com.events.common.service.ScheduledServiceExecutions
        </listener-class>
    </listener>

    <!--<filter>
        <filter-name>org.glassfish.jersey.examples.bookstore.webapp.MyApplication</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.events.common.service.rest.MyApplication</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.mvc.templateBasepath.jsp</param-name>
            <param-value>/WEB-INF/jsp</param-value>
        </init-param>
        &lt;!&ndash; pass to next filter if Jersey/App returns 404 &ndash;&gt;
        <init-param>
            <param-name>jersey.config.servlet.filter.forwardOn404</param-name>
            <param-value>true</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>org.glassfish.jersey.examples.bookstore.webapp.MyApplication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>org.glassfish.jersey.examples.freemarker.MyApplication</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.events.common.service.rest.MyApplication</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.mvc.templateBasePath.mustache</param-name>
            <param-value>/WEB-INF/jsp</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.glassfish.jersey.examples.freemarker.MyApplication</servlet-name>
        <url-pattern>/eve/*</url-pattern>
    </servlet-mapping>

     <!--<servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.events.common.service.rest.MyApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/eve/*</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>Process Login</servlet-name>
        <servlet-class>com.events.proc.users.ProcLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Login</servlet-name>
        <url-pattern>/proc_login.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Register</servlet-name>
        <servlet-class>com.events.proc.users.ProcRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Register</servlet-name>
        <url-pattern>/proc_register.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Save Clients</servlet-name>
        <servlet-class>com.events.proc.clients.ProcSaveClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Clients</servlet-name>
        <url-pattern>/proc_save_clients.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load Clients</servlet-name>
        <servlet-class>com.events.proc.clients.ProcLoadClients</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Clients</servlet-name>
        <url-pattern>/proc_load_clients.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load Website Enable Status</servlet-name>
        <servlet-class>com.events.proc.clients.ProcLoadWebsiteEnableStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Website Enable Status</servlet-name>
        <url-pattern>/proc_load_website_enable_status.aeve</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Process Get Client Details</servlet-name>
        <servlet-class>com.events.proc.clients.ProcGetClientDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Get Client Details</servlet-name>
        <url-pattern>/proc_get_client_details.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Client Events</servlet-name>
        <servlet-class>com.events.proc.event.ProcLoadClientEvents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Client Events</servlet-name>
        <url-pattern>/proc_load_client_events.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Clients</servlet-name>
        <servlet-class>com.events.proc.clients.ProcDeleteClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Clients</servlet-name>
        <url-pattern>/proc_delete_client.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Save Event</servlet-name>
        <servlet-class>com.events.proc.event.ProcSaveEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event</servlet-name>
        <url-pattern>/proc_save_event.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load Event</servlet-name>
        <servlet-class>com.events.proc.event.ProcLoadEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event</servlet-name>
        <url-pattern>/proc_load_event.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Delete Event</servlet-name>
        <servlet-class>com.events.proc.event.ProcDeleteEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Event</servlet-name>
        <url-pattern>/proc_delete_event.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Load All Events</servlet-name>
        <servlet-class>com.events.proc.event.ProcLoadAllEvents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Events</servlet-name>
        <url-pattern>/proc_load_all_events.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load All Guests</servlet-name>
        <servlet-class>com.events.proc.event.guest.ProcLoadAllGuests</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Guests</servlet-name>
        <url-pattern>/proc_load_all_guests.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Guests</servlet-name>
        <servlet-class>com.events.proc.event.guest.ProcSaveGuest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Guests</servlet-name>
        <url-pattern>/proc_save_guest.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Guest</servlet-name>
        <servlet-class>com.events.proc.event.guest.ProcLoadGuest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Guest</servlet-name>
        <url-pattern>/proc_load_guest.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Guest</servlet-name>
        <servlet-class>com.events.proc.event.guest.ProcDeleteEventGuest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Guest</servlet-name>
        <url-pattern>/proc_delete_guest.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Upload CSV</servlet-name>
        <servlet-class>com.events.proc.upload.ProcUploadCSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Upload CSV</servlet-name>
        <url-pattern>/proc_upload_csv.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Upload Image</servlet-name>
        <servlet-class>com.events.proc.upload.ProcUploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Upload Image</servlet-name>
        <url-pattern>/proc_upload_image.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Upload Event Image</servlet-name>
        <servlet-class>com.events.proc.upload.ProcUploadEventImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Upload Event Image</servlet-name>
        <url-pattern>/proc_upload_event_image.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Upload Event Party Image</servlet-name>
        <servlet-class>com.events.proc.upload.ProcUploadEventPartyImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Upload Event Party Image</servlet-name>
        <url-pattern>/proc_upload_partner_image.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Send Reset Password Link</servlet-name>
        <servlet-class>com.events.proc.users.ProcSendResetPasswordLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Send Reset Password Link</servlet-name>
        <url-pattern>/proc_send_reset_password.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Reset Password</servlet-name>
        <servlet-class>com.events.proc.users.ProcResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Reset Password</servlet-name>
        <url-pattern>/proc_reset_password.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load All Event Emails</servlet-name>
        <servlet-class>com.events.proc.email.ProcLoadAllEventEmails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Event Emails</servlet-name>
        <url-pattern>/proc_load_all_eventemails.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Email</servlet-name>
        <servlet-class>com.events.proc.email.ProcSaveEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Email</servlet-name>
        <url-pattern>/proc_save_email.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Email</servlet-name>
        <servlet-class>com.events.proc.email.ProcDeleteEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Email</servlet-name>
        <url-pattern>/proc_delete_eventemail.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Email</servlet-name>
        <servlet-class>com.events.proc.email.ProcLoadEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Email</servlet-name>
        <url-pattern>/proc_load_eventemail.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Send Test Email</servlet-name>
        <servlet-class>com.events.proc.email.ProcSendTestEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Send Test Email</servlet-name>
        <url-pattern>/proc_send_test_eventemail.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Load Guest Creation Job Records</servlet-name>
        <servlet-class>com.events.proc.job.ProcLoadGuestCreationJobRecords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Guest Creation Job Records</servlet-name>
        <url-pattern>/proc_load_guestcreationjob_records.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Edit Guest Creation Job Records</servlet-name>
        <servlet-class>com.events.proc.job.ProcEditGuestCreationJobRecords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Edit Guest Creation Job Records</servlet-name>
        <url-pattern>/proc_edit_guestcreationjob_records.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Save Vendor Landing Page Manager</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcSaveVendorLandingPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Vendor Landing Page Manager</servlet-name>
        <url-pattern>/proc_save_vendor_landingpage_manager.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Vendor Landing Page Manager</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcLoadVendorLandingPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Vendor Landing Page Manager</servlet-name>
        <url-pattern>/proc_load_vendor_landingpage_manager.aeve</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Process Save Publish Vendor Website Colors</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcSavePublishWebsiteColorPanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Publish Vendor Website Colors</servlet-name>
        <url-pattern>/proc_save_publish_vendor_website_colors.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Vendor Website Info</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcLoadVendorWebsiteInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Vendor Website Info</servlet-name>
        <url-pattern>/proc_load_vendor_website_info.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process  Save Publish  Vendor Website Logo</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcSavePublishWebsiteLogoPanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process  Save Publish  Vendor Website Logo</servlet-name>
        <url-pattern>/proc_save_publish_vendor_website_logo.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process  Save Publish  Vendor Landing Page</servlet-name>
        <servlet-class>com.events.proc.vendors.ProcSavePublishLandingPagePanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process  Save Publish  Vendor Landing Page</servlet-name>
        <url-pattern>/proc_save_publish_vendor_landingpage.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Guest Web Response RSVP</servlet-name>
        <servlet-class>com.events.proc.event.guest.ProcGuestWebResponseRSVP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Guest Web Response RSVP</servlet-name>
        <url-pattern>/proc_guest_webresponse_rsvp.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Load All Roles</servlet-name>
        <servlet-class>com.events.proc.users.permissions.ProcLoadAllRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Roles</servlet-name>
        <url-pattern>/proc_load_all_roles.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Role</servlet-name>
        <servlet-class>com.events.proc.users.permissions.ProcDeleteRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Role</servlet-name>
        <url-pattern>/proc_delete_role.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Role Permissions</servlet-name>
        <servlet-class>com.events.proc.users.permissions.ProcSaveRolePermissions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Role Permissions</servlet-name>
        <url-pattern>/proc_save_role_permissions.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Load All Team Members</servlet-name>
        <servlet-class>com.events.proc.vendors.team.ProcLoadAllTeamMembers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Team Members</servlet-name>
        <url-pattern>/proc_load_all_team_members.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Team Member</servlet-name>
        <servlet-class>com.events.proc.vendors.team.ProcSaveTeamMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Team Member</servlet-name>
        <url-pattern>/proc_save_team_member.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Team Member</servlet-name>
        <servlet-class>com.events.proc.vendors.team.ProcLoadTeamMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Team Member</servlet-name>
        <url-pattern>/proc_load_team_member.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Team Member</servlet-name>
        <servlet-class>com.events.proc.vendors.team.ProcDeleteTeamMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Team Member</servlet-name>
        <url-pattern>/proc_delete_teammember.aeve</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Process Load Potential Event And Partner Vendors</servlet-name>
        <servlet-class>com.events.proc.event.vendors.ProcLoadPotentialEventAndPartnerVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Potential Event And Partner Vendors</servlet-name>
        <url-pattern>/proc_load_all_event_partner_vendors.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Assign Event Vendor</servlet-name>
        <servlet-class>com.events.proc.event.vendors.ProcAssignEventVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Assign Event Vendor</servlet-name>
        <url-pattern>/proc_assign_eventvendor.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Recommend Event Vendor</servlet-name>
        <servlet-class>com.events.proc.event.vendors.ProcRecommendEventVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Recommend Event Vendor</servlet-name>
        <url-pattern>/proc_recommend_eventvendor.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Shortlist Event Vendor</servlet-name>
        <servlet-class>com.events.proc.event.vendors.ProcShortlistEventVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Shortlist Event Vendor</servlet-name>
        <url-pattern>/proc_shortlist_eventvendor.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Vendor</servlet-name>
        <servlet-class>com.events.proc.event.vendors.ProcLoadEventVendors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Vendor</servlet-name>
        <url-pattern>/proc_load_event_vendors.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load All Website Themes</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadAllWebsiteThemes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Website Themes</servlet-name>
        <url-pattern>/proc_load_all_website_themes.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Website Themes</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Website Themes</servlet-name>
        <url-pattern>/proc_load_event_website_theme.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Event Website Theme</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event Website Theme</servlet-name>
        <url-pattern>/proc_save_event_website_theme.aeve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Process Load Theme Colors And Fonts</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadThemeColorsAndFonts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Theme Colors And Fonts</servlet-name>
        <url-pattern>/proc_load_theme_colors_and_fonts.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Website Color And Font</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteColorsAndFonts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Website Color And Font</servlet-name>
        <url-pattern>/proc_load_event_website_color_and_font.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Event Website Color And Font</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteColorsAndFonts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event Website Color And Font</servlet-name>
        <url-pattern>/proc_save_event_website_color_and_font.aeve</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Process Load Website Page Features</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsitePageFeatures</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Website Page Features</servlet-name>
        <url-pattern>/proc_load_website_page_features.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Website Page Features</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsitePageFeatures</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Website Page Features</servlet-name>
        <url-pattern>/proc_save_event_website_page_features.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Website Feature Party</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteFeatureParty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Website Feature Party</servlet-name>
        <url-pattern>/proc_save_event_website_features_party.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Website Feature Party</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteFeatureParty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Website Feature Party</servlet-name>
        <url-pattern>/proc_load_event_website_features_party.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Event Party</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcDeleteEventParty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Event Party</servlet-name>
        <url-pattern>/proc_delete_event_party.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Website Page</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsitePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Website Page</servlet-name>
        <url-pattern>/proc_save_event_website_page.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Website Page</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsitePages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Website Page</servlet-name>
        <url-pattern>/proc_load_website_page.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Event Website Hotel</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteHotel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event Website Hotel</servlet-name>
        <url-pattern>/proc_save_event_website_hotel.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Website Hotel List</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteHotel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Website Hotel List</servlet-name>
        <url-pattern>/proc_load_event_website_hotels_list.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Event Website Hotel </servlet-name>
        <servlet-class>com.events.proc.event.website.ProcDeleteEventWebsiteHotel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Event Website Hotel </servlet-name>
        <url-pattern>/proc_delete_event_hotel.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Event Website Registry</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteRegistry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event Website Registry</servlet-name>
        <url-pattern>/proc_save_event_website_registry.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Website Registry List</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteRegistry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Website Registry List</servlet-name>
        <url-pattern>/proc_load_event_website_registry_list.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Event Website Registry </servlet-name>
        <servlet-class>com.events.proc.event.website.ProcDeleteEventWebsiteRegistry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Event Website Registry </servlet-name>
        <url-pattern>/proc_delete_event_registry.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Event Website Contact Us</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcSaveEventWebsiteContactUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Event Website Contact Us</servlet-name>
        <url-pattern>/proc_save_event_website_contactus.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Event Website Contact Us List</servlet-name>
        <servlet-class>com.events.proc.event.website.ProcLoadEventWebsiteContactUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Event Website Contact Us List</servlet-name>
        <url-pattern>/proc_load_event_website_contactus_list.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Delete Event Website Contact Us </servlet-name>
        <servlet-class>com.events.proc.event.website.ProcDeleteEventWebsiteContactUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Event Website Contact Us </servlet-name>
        <url-pattern>/proc_delete_event_contactus.aeve</url-pattern>
    </servlet-mapping>






    <servlet>
        <servlet-name>Process Load All Partner Vendors</servlet-name>
        <servlet-class>com.events.proc.vendors.partner.ProcLoadAllPartnerVendors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load All Partner Vendors</servlet-name>
        <url-pattern>/proc_load_all_partner_vendors.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Save Partner Vendor</servlet-name>
        <servlet-class>com.events.proc.vendors.partner.ProcSavePartnerVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Save Partner Vendor</servlet-name>
        <url-pattern>/proc_save_partner_vendor.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Process Load Partner Vendor</servlet-name>
        <servlet-class>com.events.proc.vendors.partner.ProcLoadPartnerVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Load Partner Vendor</servlet-name>
        <url-pattern>/proc_load_partner_vendor.aeve</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>=</display-name>
        <servlet-name>Process Delete Partner Vendor</servlet-name>
        <servlet-class>com.events.proc.vendors.partner.ProcDeletePartnerVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Process Delete Partner Vendor</servlet-name>
        <url-pattern>/proc_delete_partnervendor.aeve</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>Data Secure Filter</filter-name>
        <filter-class>com.events.common.security.DataSecureFilter</filter-class>
        <init-param>
            <param-name>email_body</param-name>
            <param-value>email_body</param-value>
        </init-param>
        <init-param>
            <param-name>landingpage_facebook</param-name>
            <param-value>landingpage_facebook</param-value>
        </init-param>
        <init-param>
            <param-name>landingpage_pinterest</param-name>
            <param-value>landingpage_pinterest</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Data Secure Filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.aeve</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Check Credentials Filter </filter-name>
        <filter-class>com.events.common.security.CheckCredentialFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Check Credentials Filter </filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.eve</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Dispatching Filter </filter-name>
        <filter-class>com.events.common.security.DispatchingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Dispatching Filter </filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.eve</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Routing Filter </filter-name>
        <filter-class>com.events.common.service.RoutingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Routing Filter </filter-name>
        <url-pattern>/plan/*</url-pattern>
    </filter-mapping>
</web-app>
