body {
    background-color: #ffffff;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: #666;
}
a {
    color: #666;
}
a:hover {
    color: #3F9CFF;
}
/**
Top Nav Links (Name , Logout, Login, Register etc.)
===========================================*/
.top_navbar_format {
    background-color: #f8f8f8; padding-top:3px;padding-bottom:3px;
}
.top_navbar_links .menu > li > a {
    color: #666;
}
.top_navbar_links .menu > li > a:focus,
.top_navbar_links .menu > li > a:hover {
    background: #f8f8f8 !important;
}
.breadcrumb_format {
    background-color: #fcfcfc;
    border-bottom:1px solid #dbf1ff !important;
}

/**
Menu Bar
===========================================*/

.menu_bar{
    border-color: #dbf1ff !important;
}
.menu_bar .menu > li > a {
    border-top-color:#fff;
    color: #666;
}
.menu_bar .menu > li > a:focus,
.menu_bar .menu > li > a:hover {
    color: #fff !important;
    border-bottom:4px solid #3F9CFF !important;
    background: #3F9CFF !important;
}

.menu_bar .menu > .currently_active > a {
    color: #3F9CFF !important;
    border-bottom:4px solid #3F9CFF !important;
    background-color: #fff !important;
}

.menu_bar .menu > .currently_active > a:focus ,
.menu_bar .menu > .currently_active > a:hover {
    border-bottom:4px solid #3F9CFF !important;
    background: #3F9CFF !important;
}

/**
Buttons
===========================================*/
.btn:hover,
.btn:focus {
    color: #3F9CFF;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #3F9CFF;
    background-color: #ebebeb;
    border-color: #3F9CFF;
}

.btn-filled {
    color: #ffffff;
    background-color: #3F9CFF;
    border-color: #3F9CFF;
}

.btn-filled:hover,
.btn-filled:focus,
.btn-filled:active,
.btn-filled.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #3F9CFF;
    border-color: #3F9CFF;
}

.btn-filled.disabled,
.btn-filled[disabled],
fieldset[disabled] .btn-filled,
.btn-filled.disabled:hover,
.btn-filled[disabled]:hover,
fieldset[disabled] .btn-filled:hover,
.btn-filled.disabled:focus,
.btn-filled[disabled]:focus,
fieldset[disabled] .btn-filled:focus,
.btn-filled.disabled:active,
.btn-filled[disabled]:active,
fieldset[disabled] .btn-filled:active,
.btn-filled.disabled.active,
.btn-filled[disabled].active,
fieldset[disabled] .btn-filled.active {
    background-color: #3F9CFF;
    border-color: #3F9CFF;
    color: #333333;
}

.btn-filled .badge {
    color: #ffffff;
    background-color: #3F9CFF;
}

.menu_links .btn-filled > a,
.menu_links .btn-filled
{
    color: #ffffff;
    background-color: #0E5AAC;
    border-color: #0E5AAC;
}

.menu_links .btn-filled:hover ,
.menu_links .btn-filled:focus ,
.menu_links .btn-filled:active ,
.menu_links a:active ,
.menu_links .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #0E5AAC;
    border-color: #0E5AAC;
}


.page-title {
    color: #666;
}
/*
Form Fields
==============================================*/
.form-control {
    color: #666666;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.form-control:focus {
    border-color: #3F9CFF;
}


.sidebar .unordered_menu ul li{
    border-color: #e4e4e4;
    color: #666666;
}


.sidebar .unordered_menu ul li a{
    color: #666666;
}

.sidebar .unordered_menu ul li a:hover,
.sidebar .unordered_menu ul li a:focus{
    color:  #3F9CFF !important;
}

.sidebar .unordered_menu ul li.active_link{
    border-color: #3F9CFF;
}
ul.tabs {
    background: #fcfcfc;
}
ul.tabs li a {
    background-color: #fcfcfc;
    color: #666666;
    border-color: #dbf1ff !important;
}
ul.tabs li a:hover {
    color: #FFFFFF;
    background-color: #3F9CFF !important;
}

ul.tabs li.active, html ul.tabs li.active a  {
    color: #3F9CFF;
    background-color: #fcfcfc;
    border-color: #3F9CFF !important;
}
html ul.tabs li.active a:hover {
    color: #FFFFFF;
    background-color: #fcfcfc;
    border-color: #3F9CFF !important;
}



/** Panel **/
.panel-default {
    border-color: #dbf1ff;
}
.panel-default > .panel-heading {
    color: #666;
    background-color: #fcfcfc;
    border-color: #dbf1ff;
}

/** Image **/
.img-circle {
    background-color: #fff;
    border: 1px solid #3F9CFF;
}

/** Switch **/
.bootstrap-switch>div>span.bootstrap-switch-primary {
    color: #fff;
    background: #3F9CFF;
}

bootstrap-switch.bootstrap-switch-focused {
    border-color: #3F9CFF;
    outline: none;
    -webkit-box-shadow: #3F9CFF;
    box-shadow: #3F9CFF;
    outline: none;
}

/** Messi Buttons **/

.messi .btn:hover,
.messi .btn:focus {
    color: #3F9CFF;
    background-color: #ebebeb;
    border-color: #3F9CFF;
}

.messi .btn:active,
.messi .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.messi .btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.messi .btn-default:hover,
.messi .btn-default:focus,
.messi .btn-default:active,
.messi .btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #3F9CFF;
    background-color: #ebebeb;
    border-color: #3F9CFF;
}

/** footer stuff **/
footer {
    background-color: #ecf0f1;
    border-top: 1px solid #dbf1ff;
}
ul.footer-tabs {
    background: #ecf0f1;
}
ul.footer-tabs li a {
    background-color: #ecf0f1;
    color: #666666;
    border-color: #ecf0f1 !important;
}
ul.footer-tabs li a:hover {
    color: #3F9CFF;
    background-color: #ecf0f1 !important;
    border-bottom: 1px solid #3F9CFF;
}

ul.footer-tabs li.active, html ul.footer-tabs li.active a  {
    color: #3F9CFF;
    background-color: #ecf0f1;
    border-color: #3F9CFF !important;
}
html ul.footer-tabs li.active a:hover {
    color: #FFFFFF;
    background-color: #ecf0f1;
    border-color: #3F9CFF !important;
}




