body {
    background-color: __COLOR_BACKGROUND__;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: __COLOR_TEXT__;
}
a {
    color: __COLOR_TEXT__;
}
a:hover {
    color: __COLOR_HIGHLIGHTED__;
}
/**
Top Nav Links (Name , Logout, Login, Register etc.)
===========================================*/
.top_navbar_format {
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__; padding-top:3px;padding-bottom:3px;
}
.top_navbar_links .menu > li > a {
    color: __COLOR_TEXT__;
}
.top_navbar_links .menu > li > a:focus,
.top_navbar_links .menu > li > a:hover {
    background: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__ !important;
}
/**
BreadCrumb
===========================================*/
.breadcrumb_format {
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    border-bottom:1px solid __COLOR_BORDER__ !important;
}

/**
Menu Bar
===========================================*/

.menu_bar{
    border-color: __COLOR_BORDER__ !important;
}
.menu_bar .menu > li > a {
    border-top-color:__COLOR_BACKGROUND__;
    color: __COLOR_TEXT__;
}
.menu_bar .menu > li > a:focus,
.menu_bar .menu > li > a:hover {
    color: __COLOR_BACKGROUND__ !important;
    border-bottom:4px solid __COLOR_HIGHLIGHTED__ !important;
    background: __COLOR_HIGHLIGHTED__ !important;
}

.menu_bar .menu > .currently_active > a {
    color: __COLOR_HIGHLIGHTED__ !important;
    border-bottom:4px solid __COLOR_HIGHLIGHTED__ !important;
    background-color: __COLOR_BACKGROUND__ !important;
}

.menu_bar .menu > .currently_active > a:focus ,
.menu_bar .menu > .currently_active > a:hover {
    border-bottom:4px solid __COLOR_HIGHLIGHTED__ !important;
    background: __COLOR_HIGHLIGHTED__ !important;
}

/**
Buttons
===========================================*/
.btn:hover,
.btn:focus {
    color: __COLOR_HIGHLIGHTED__;
}

.btn:active,
.btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
    color: __COLOR_PLAIN_BUTTON_TEXT__;
    background-color: __COLOR_PLAIN_BUTTON__;
    border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: __COLOR_HIGHLIGHTED__;
    background-color: #ebebeb;
    border-color: __COLOR_HIGHLIGHTED__;
}

.btn-filled {
    color: __COLOR_FILLED_BUTTON_TEXT__;
    background-color: __COLOR_FILLED_BUTTON__;
    border-color: __COLOR_FILLED_BUTTON__;
}

.btn-filled:hover,
.btn-filled:focus,
.btn-filled:active,
.btn-filled.active,
.open .dropdown-toggle.btn-primary {
    color: __COLOR_FILLED_BUTTON_TEXT__;
    background-color: __COLOR_FILLED_BUTTON__;
    border-color: __COLOR_FILLED_BUTTON__;
}

.btn-filled.disabled,
.btn-filled[disabled],
fieldset[disabled] .btn-filled,
.btn-filled.disabled:hover,
.btn-filled[disabled]:hover,
fieldset[disabled] .btn-filled:hover,
.btn-filled.disabled:focus,
.btn-filled[disabled]:focus,
fieldset[disabled] .btn-filled:focus,
.btn-filled.disabled:active,
.btn-filled[disabled]:active,
fieldset[disabled] .btn-filled:active,
.btn-filled.disabled.active,
.btn-filled[disabled].active,
fieldset[disabled] .btn-filled.active {
    background-color: __COLOR_FILLED_BUTTON__;
    border-color: __COLOR_FILLED_BUTTON__;
    color: #333333;
}

.btn-filled .badge {
    color:__COLOR_FILLED_BUTTON_TEXT__;
    background-color:__COLOR_FILLED_BUTTON__;
}

.menu_links .btn-filled > a,
.menu_links .btn-filled
{
    color: #ffffff;
    background-color: __COLOR_FILLED_BUTTON__;
    border-color: __COLOR_FILLED_BUTTON__;
}

.menu_links .btn-filled:hover ,
.menu_links .btn-filled:focus ,
.menu_links .btn-filled:active ,
.menu_links a:active ,
.menu_links .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: __COLOR_FILLED_BUTTON__;
    border-color: __COLOR_FILLED_BUTTON__;
}


.page-title {
    color: __COLOR_TEXT__;
}
/*
Form Fields
==============================================*/
.form-control {
    color: __COLOR_TEXT__;
    background-color: __COLOR_BACKGROUND__;
    border: 1px solid #cccccc;
}
.form-control:focus {
    border-color: __COLOR_HIGHLIGHTED__;
}


.sidebar .unordered_menu ul li{
    border-color: #e4e4e4;
    color: __COLOR_TEXT__;
}


.sidebar .unordered_menu ul li a{
    color: __COLOR_TEXT__;
}

.sidebar .unordered_menu ul li a:hover,
.sidebar .unordered_menu ul li a:focus{
    color:  __COLOR_HIGHLIGHTED__ !important;
}

.sidebar .unordered_menu ul li.active_link{
    border-color: __COLOR_HIGHLIGHTED__;
}

ul.tabs {
    background:  __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
}
ul.tabs li a {
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    color: __COLOR_TEXT__;
    border-color: __COLOR_BORDER__ !important;
}
ul.tabs li a:hover {
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_HIGHLIGHTED__ !important;
}

ul.tabs li.active, html ul.tabs li.active a  {
    color: __COLOR_HIGHLIGHTED__;
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    border-color: __COLOR_HIGHLIGHTED__ !important;
}
html ul.tabs li.active a:hover {
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    border-color: __COLOR_HIGHLIGHTED__ !important;
}



/** Panel **/
.panel-default {
    border-color: __COLOR_BORDER__;
}
.panel-default > .panel-heading {
    color: __COLOR_TEXT__;
    background-color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    border-color: __COLOR_BORDER__;
}


/** Image **/
.img-circle {
    background-color: __COLOR_BACKGROUND__;
    border: 1px solid __COLOR_BORDER__;
}

/** Switch **/
.bootstrap-switch>div>span.bootstrap-switch-primary {
    color: __COLOR_TEXT__;
    background: __COLOR_BACKGROUND__;
}

.bootstrap-switch.bootstrap-switch-focused {
    border-color: __COLOR_BORDER__;
    outline: none;
    -webkit-box-shadow: __COLOR_BACKGROUND__;
    box-shadow: __COLOR_BACKGROUND__;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}

/** Messi Buttons **/

.messi .btn:hover,
.messi .btn:focus {
    color: __COLOR_HIGHLIGHTED__;
    background-color: #ebebeb;
    border-color: __COLOR_BORDER__;
}

.messi .btn:active,
.messi .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgb(0, 0, 0);
    box-shadow: inset 0 3px 5px rgb(0, 0, 0);
}

.messi .btn-default {
    color: #333333;
    background-color: __COLOR_BACKGROUND__;
    border-color: #cccccc;
}

.messi .btn-default:hover,
.messi .btn-default:focus,
.messi .btn-default:active,
.messi .btn-default.active,
.open .dropdown-toggle.btn-default {
    color: __COLOR_HIGHLIGHTED__;
    background-color: #ebebeb;
    border-color: __COLOR_BORDER__;
}

/** footer stuff **/
footer {
    background-color: #ecf0f1;
    border-top: 1px solid #dbf1ff;
}
ul.footer-tabs {
    background: #ecf0f1;
}
ul.footer-tabs li a {
    background-color: #ecf0f1;
    color: #666666;
    border-color: #ecf0f1 !important;
}
ul.footer-tabs li a:hover {
    color: __COLOR_BACKGROUND__;
    background-color: #ecf0f1 !important;
    border-bottom: 1px solid __COLOR_HIGHLIGHTED__;
}

ul.footer-tabs li.active, html ul.footer-tabs li.active a  {
    color: __COLOR_HIGHLIGHTED__;
    background-color: #ecf0f1;
    border-color: __COLOR_HIGHLIGHTED__ !important;
}
html ul.footer-tabs li.active a:hover {
    color: #FFFFFF;
    background-color: #ecf0f1;
    border-color: __COLOR_HIGHLIGHTED__ !important;
}


/** Table **/
.dataTables_filter input:focus{
    border-color: __COLOR_HIGHLIGHTED__;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.chosen-container-active .chosen-single {border: 1px solid __COLOR_HIGHLIGHTED__; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}

/** Chosen drop down **/
.chosen-container-active .chosen-choices {
    border: 1px solid __COLOR_HIGHLIGHTED__;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container .chosen-results li.highlighted {
    background-color: __COLOR_HIGHLIGHTED__;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, __COLOR_HIGHLIGHTED__), color-stop(90%, __COLOR_HIGHLIGHTED__));
    background-image: -webkit-linear-gradient(__COLOR_HIGHLIGHTED__ 20%, __COLOR_HIGHLIGHTED__ 90%);
    background-image: -moz-linear-gradient(__COLOR_HIGHLIGHTED__ 20%, __COLOR_HIGHLIGHTED__ 90%);
    background-image: -o-linear-gradient(__COLOR_HIGHLIGHTED__ 20%, __COLOR_HIGHLIGHTED__ 90%);
    background-image: linear-gradient(__COLOR_HIGHLIGHTED__ 20%, __COLOR_HIGHLIGHTED__ 90%);
    color: #fff;
}

.chosen-container-active .chosen-single {
    border: 1px solid __COLOR_HIGHLIGHTED__;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/** Bootstrap navbar **/
.navbar-default {
    background: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
}
nav.navbar ul li a{
    border-color: __COLOR_BORDER__ !important;
}


.navbar-default .navbar-nav > .active > a {
    color: __COLOR_HIGHLIGHTED__;
    background: transparent;
    border-color: __COLOR_HIGHLIGHTED__ !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: __COLOR_NAVBAR_BREADCRUMB_TAB_BKG__;
    background-color: __COLOR_HIGHLIGHTED__ !important;
}
.menu-navbar .navbar-nav > li > a:hover,
.menu-navbar .navbar-nav > li > a:focus {
    color: __COLOR_BACKGROUND__;
    border-color: __COLOR_HIGHLIGHTED__ !important;
    background-color: __COLOR_HIGHLIGHTED__ !important;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_HIGHLIGHTED__ !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_HIGHLIGHTED__ !important
}
.navbar-default .navbar-toggle {
    border-color: __COLOR_HIGHLIGHTED__;
    color: __COLOR_HIGHLIGHTED__;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_HIGHLIGHTED__ ;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: __COLOR_TEXT__;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: __COLOR_BACKGROUND__;
    background-color: __COLOR_HIGHLIGHTED__;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: __COLOR_BACKGROUND__;
    text-decoration: none;
    outline: 0;
    background-color: __COLOR_HIGHLIGHTED__;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: __COLOR_TEXT__;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: __COLOR_TEXT__;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: __COLOR_BACKGROUND__;
        background-color: __COLOR_HIGHLIGHTED__;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: __COLOR_BACKGROUND__;
        background-color: __COLOR_HIGHLIGHTED__;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}